* {
    box-sizing: border-box;
}
body {
    
    color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
    background-color: black;
    background-image: radial-gradient(
      rgba(0, 150, 0, 0.75), black 120%
    );
   /*  height: 100vh; */
  }

.divsClass {
   /*  border: 1px solid red; */
    /* flex: 1; */
    
}

#div-container {
    display: grid;
    width: fit-content;
    border: 10px solid white;
    box-shadow: #C8C8C8;
    border-radius: 2%;
    height: 35vw;
    width:35vw;
  /*   grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr); */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
    }
.divsClassMutated {
    background-color: #C8C8C8;
}

.position-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#main-header {
    margin-bottom: 75px;
}

#main-button {
    margin-bottom: 75px;   
    font-family: monospace;
    background-color: none;
}